/* Adapted from https://iconscout.com/ under the IconScout Simple License https://iconscout.com/licenses#simple_license*/
.title {
    align-items: center;
    text-align: center;
}

.card__part1 h2 {
    margin-left: 1rem;
}

.title__bar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* border: 1px solid black; */
}

.card {
    grid-column: span 6;
    width: 300px;
    height: 100px;
    margin-bottom: 6rem;
    align-items: center;
    text-align: center;
    justify-self: center;
}

.card__part1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgba(225, 225, 225, 0.25);
    box-shadow: 5px 5px 40px rgb(0, 0, 0);
    border-radius: 15px;
    opacity: 0.7;
    transition: 0.5s;
    z-index: 1;
    transform: translateY(25px);
    color: black;
}

.card__content {
    font-size: 25px;
}

.card:hover .card__part1 {
    background-color: rgb(228, 203, 78);
    opacity: 1;
    transform: translateY(-25px);
    text-shadow: rgb(155, 155, 155) 1px 0 10px;
}

p {
    margin: 0;
}

.card__part2 {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
    transform: translateY(-80px);
    width: 305px;
    justify-self: center;
    line-height:  30px;
}
.card__part2 a{
    color:var(--background-yellow);
    font-size: 1.5rem;
    text-shadow: rgb(76, 76, 76) 1px 0 10px;
}
.card__part2 a:hover{
    animation: move2right 2s ease infinite;
}

@keyframes move2right {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(0.5rem);
    }
}


.card:hover .card__part2 {
    opacity: 1;
    transform: translateY(-10px);
}


.title__title {

    font-size: 3rem;
    font-weight: 200;
    color: white;
    text-shadow: rgb(77, 77, 76) 1px 0 10px;
}
/*-------------------adaptive design-------------*/
@media screen and (max-width: 44rem) {
    .card {
        grid-column: span 12;
    }
}